.container_navbar_supervisor{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar_supervisor{
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0px 20px;
    margin: 10px 10px 0 10px;
    border-radius: 1rem;
}

.central_sec_sup{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 80px);
}

.operator_list_sup{
    width: 50%;
    background-color: #f1f1f1;
    padding: 10px;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, 150px);
    gap: 10px;
    margin: 10px 0 10px 10px;
    border-radius: 1rem;
}
.op_section_sup{
    height: 150px;
    background-color: #ddd;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.right_section_sup{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.maps_section_sup {
    flex: 1;
    border: 2px solid #ccc;
    border-radius: 1rem;
    margin: 10px;
}
.maps_section_sup iframe {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.btn_container_sup_index{
    background-color: #ddd;
    border: 2px solid #ccc;
    border-radius: 1rem;
    height: 40%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 0 10px 10px 10px;
    padding: 0 7%;
}

.btn_container_sup_index input{
    padding: 20px;
    height: 150px;
    width: 150px;
    border-radius: 1rem;
    border: none;
    background-color: #555;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}
.btn_container_sup_index input:hover{
    background-color: #444;
}
