<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Navigation Bar with Indicator</title>

        <!-- CSS -->
        
                
        <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
        
    </head>
    <body>
        <body class="body_user <%= @theme %>-theme">




    <div class="settings-container">
        <h2 class="title-settings">Opzioni segnalazioni</h2>
        <div class="settings_user-position">
            <label>Attach Position:</label>
            <label><input type="radio" name="position" value="yes"> Yes</label>
            <label><input type="radio" name="position" value="no"> No</label>
        </div>
        <div class="settings_user-phone">
            <label>Attach Phone Number:</label>
            <label><input type="radio" name="phone" value="yes"> Yes</label>
            <label><input type="radio" name="phone" value="no"> No</label>
        </div>
        <div class="settings_user-email">
            <label>Attach Personal Info:</label>
            <label><input type="radio" name="info" value="yes"> Yes</label>
            <label><input type="radio" name="info" value="no"> No</label>
        </div>
        <button class="button-center" onclick=updateSettings()>Save Settings</button>
    </div>

        <nav class="nav_user">
            <ul class="nav_user-content">
                <li class="nav_user-list">
                    <%= link_to setting_path, class: 'link-item user' do %>
                        <i class='bx bxs-cog link-icon'></i> <!-- Modificato da bxs-user a bxs-cog -->
                        <span class="link-text">Settings</span>
                    <% end %>
                </li>


                <li class="nav_user-list">
                <%= link_to root_path, class: 'link-item active user' do %>
                    <i class='bx bxs-home link-icon user'></i>
                    <span class="link-text user">Home</span>
                <% end %>
            </li>
                

                <li class="nav_user-list">
                    <%= link_to profile_path, class: 'link-item user' do %>
                        <i class='bx bxs-user link-icon'></i>
                        <span class="link-text">Profile</span>
                    <% end%>
                </li>
                <span class="indicator_user"></span>
            </ul>
        </nav>


        <!-- JavaScript -->
         <script>

            function updateSettings(){
                AttachPosition = document.querySelector('input[name="position"]:checked').value;
                AttachPhone = document.querySelector('input[name="phone"]:checked').value;
                AttachInfo = document.querySelector('input[name="info"]:checked').value;

                document.cookie = `AttachPos=${AttachPosition}; path=/; max-age=${30 * 24 * 60 * 60}`;
                document.cookie = `AttachPhone=${AttachPhone}; path=/; max-age=${30 * 24 * 60 * 60}`;
                document.cookie = `AttachInfo=${AttachInfo}; path=/; max-age=${30 * 24 * 60 * 60}`;
            }

            document.addEventListener("DOMContentLoaded", () => {
                
                // cookie
                const savedAttachPosition = document.cookie
                    .split("; ")
                    .find(row => row.startsWith("AttachPos="))
                    ?.split("=")[1];

                const savedAttachPhone = document.cookie
                    .split("; ")
                    .find(row => row.startsWith("AttachPhone="))
                    ?.split("=")[1];
                
                const savedAttachInfo = document.cookie
                    .split("; ")
                    .find(row => row.startsWith("AttachInfo="))
                    ?.split("=")[1];

                if (savedAttachPosition) {
                    document.querySelector(`input[name="position"][value="${savedAttachPosition}"]`).checked = true;
                }
                if (savedAttachPhone) {
                    document.querySelector(`input[name="phone"][value="${savedAttachPhone}"]`).checked = true;
                }
                if (savedAttachInfo) {
                    document.querySelector(`input[name="info"][value="${savedAttachInfo}"]`).checked = true;
                }
                
                // nav bar
                const linkItems = document.querySelectorAll(".link-item");
                const indicator = document.querySelector(".indicator_user");

                function updateIndicator() {
                    const activeItem = document.querySelector(".link-item.active");
                    if (activeItem) {
                        const { offsetLeft, offsetWidth } = activeItem;
                        indicator.style.left = `${offsetLeft + (offsetWidth / 2)}px`;
                    }
                }

                linkItems.forEach((linkItem) => {
                    linkItem.addEventListener("click", () => {
                        document.querySelector(".link-item.active")?.classList.remove("active");
                        linkItem.classList.add("active");
                        updateIndicator();
                    });
                });

                updateIndicator();
                window.addEventListener("resize", updateIndicator);
            });
        </script>
    </div>
    </body>
</html>