<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Navigation Bar with Indicator</title>

        <!-- CSS -->
        
                
        <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
        
    </head>
    <body>
        <div class="body_user">




<div class="settings-container">
            <h2 class="title-settings">Opzioni segnalazioni</h2>
            <div class="settings_user-position">
                <label>Attach Position:</label>
                <label><input type="radio" name="position" value="yes"> Yes</label>
                <label><input type="radio" name="position" value="no"> No</label>
            </div>
            <div class="settings_user-phone">
                <label>Attach Phone Number:</label>
                <label><input type="radio" name="phone" value="yes"> Yes</label>
                <label><input type="radio" name="phone" value="no"> No</label>
            </div>
            <div class="settings_user-email">
                <label>Attach Email:</label>
                <label><input type="radio" name="email" value="yes"> Yes</label>
                <label><input type="radio" name="email" value="no"> No</label>
            </div>
            <button class="button-center">Save Settings</button>
        </div>
        






        <nav class="nav_user">
            <ul class="nav_user-content">
                <li class="nav_user-list">
                    <%= link_to setting_path, class: 'link-item user' do %>
                        <i class='bx bxs-cog link-icon'></i> <!-- Modificato da bxs-user a bxs-cog -->
                        <span class="link-text">Settings</span>
                    <% end %>
                </li>


                <li class="nav_user-list">
                <%= link_to root_path, class: 'link-item active user' do %>
                    <i class='bx bxs-home link-icon user'></i>
                    <span class="link-text user">Home</span>
                <% end %>
            </li>
                

                <li class="nav_user-list">
                    <%= link_to profile_path, class: 'link-item user' do %>
                        <i class='bx bxs-user link-icon'></i>
                        <span class="link-text">Profile</span>
                    <% end%>
                </li>
                <span class="indicator_user"></span>
            </ul>
        </nav>


        <!-- JavaScript -->
         <script>
            document.addEventListener("DOMContentLoaded", () => {
                const linkItems = document.querySelectorAll(".link-item");
                const indicator = document.querySelector(".indicator_user");

                function updateIndicator() {
                    const activeItem = document.querySelector(".link-item.active");
                    if (activeItem) {
                        const { offsetLeft, offsetWidth } = activeItem;
                        indicator.style.left = `${offsetLeft + (offsetWidth / 2)}px`;
                    }
                }

                linkItems.forEach((linkItem) => {
                    linkItem.addEventListener("click", () => {
                        document.querySelector(".link-item.active")?.classList.remove("active");
                        linkItem.classList.add("active");
                        updateIndicator();
                    });
                });

                updateIndicator();
                window.addEventListener("resize", updateIndicator);
            });
        </script>
    </div>
    </body>
</html>