<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Navigation Bar with Indicator</title>

        <!-- CSS -->
        
                
        <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
        
        <style>
           .indicator_user {
    position: absolute;
    top: -14px; /* Posizionato sopra le icone */
    left: 50%; /* Posizionato orizzontalmente al centro del contenitore */
    transform: translateX(-50%); /* Centrato sopra il punto centrale */
    height: 36px;
    width: 36px;
    background-color: #FFF;
    border: 6px solid #4070F4;
    border-radius: 50%;
    pointer-events: none; /* Assicurati che l'indicatore non interferisca con altri elementi */
    z-index: 10; /* Assicurati che l'indicatore sia sopra altri elementi */
}

            </style>

    </head>
    <body>
        <div class="body_user">


        <button class="accordion_user">Come misurare i BPM</button>
        <div class="panel_user">
        <p>1. Posiziona le dita (indice e medio) sul polso interno, alla base del pollice.<br>
            2. Premi delicatamente fino a sentire il battito.<br>
            3. Conta i battiti per 60 secondi oppure per 15 secondi e moltiplica per 4.</p>
        </div>

        <button class="accordion_user">Come misurare la pressione sanguigna</button>
        <div class="panel_user">
        <p>1. Siediti in una posizione comoda con il braccio supportato all'altezza del cuore.<br>
            2. Avvolgi il bracciale della sfigmomanometro attorno al braccio.<br>
            3. Gonfia il bracciale e inizia la misurazione seguendo le istruzioni del dispositivo.</p>
        </div>
        <button class="accordion_user">Come misurare i BPM</button>
        <div class="panel_user">
        <p>1. Posiziona le dita (indice e medio) sul polso interno, alla base del pollice.<br>
            2. Premi delicatamente fino a sentire il battito.<br>
            3. Conta i battiti per 60 secondi oppure per 15 secondi e moltiplica per 4.</p>
        </div>

        <button class="accordion_user">Come misurare la pressione sanguigna</button>
        <div class="panel_user">
        <p>1. Siediti in una posizione comoda con il braccio supportato all'altezza del cuore.<br>
            2. Avvolgi il bracciale della sfigmomanometro attorno al braccio.<br>
            3. Gonfia il bracciale e inizia la misurazione seguendo le istruzioni del dispositivo.</p>
        </div>
        <button class="accordion_user">Come misurare i BPM</button>
        <div class="panel_user">
        <p>1. Posiziona le dita (indice e medio) sul polso interno, alla base del pollice.<br>
            2. Premi delicatamente fino a sentire il battito.<br>
            3. Conta i battiti per 60 secondi oppure per 15 secondi e moltiplica per 4.</p>
        </div>

        <button class="accordion_user">Come misurare la pressione sanguigna</button>
        <div class="panel_user">
        <p>1. Siediti in una posizione comoda con il braccio supportato all'altezza del cuore.<br>
            2. Avvolgi il bracciale della sfigmomanometro attorno al braccio.<br>
            3. Gonfia il bracciale e inizia la misurazione seguendo le istruzioni del dispositivo.</p>
        </div>


        
        <nav class="nav_user">
            <ul class="nav_user-content">
                <li class="nav_user-list">
                    <%= link_to setting_path, class: 'link-item user' do %>
                        <i class='bx bxs-cog link-icon'></i> <!-- Modificato da bxs-user a bxs-cog -->
                        <span class="link-text">Settings</span>
                    <% end %>
                </li>


                <li class="nav_user-list">
                <%= link_to root_path, class: 'link-item active user' do %>
                    <i class='bx bxs-home link-icon user'></i>
                    <span class="link-text user">Home</span>
                <% end %>
            </li>
                

                <li class="nav_user-list">
                    <%= link_to profile_path, class: 'link-item user' do %>
                        <i class='bx bxs-user link-icon'></i>
                        <span class="link-text">Profile</span>
                    <% end%>
                </li>
                <span class="indicator_user"></span>
            </ul>
        </nav>

        <!-- JavaScript -->
       <script>
        
document.addEventListener("DOMContentLoaded", function() {
    var acc = document.getElementsByClassName("accordion_user");
    for (var i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            // Toggle the active class to change the background color
            this.classList.toggle("active");
            
            // Get the panel (content) element
            var panel = this.nextElementSibling;
            
            // Toggle the max-height style to show/hide the panel
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            } 
        });
    }
});
    </script>
    </div>
    </body>
</html>