.manual_container_operator{
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 2px solid #ccc;
    border-radius: 1rem;
    margin: 10px;
}
.manual_container_operator h1{
    text-align: center;
    margin: 10px;
}

.manual_slider_op{
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.manual_element_operator{
    background-color: #ddd;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}
.manual_title_operator{
    display: flex;
    margin-left: 1rem;
    gap:2rem;
    justify-content: left;
    align-items: center;
}
.search-bar_tutorial_op {
    margin-top: 1rem;
    width: 15rem;
    height: 2rem;
    border: none;
    border-bottom: 2px solid #000;
    background: none;
    font-size: 1rem;
    color: #000;
    outline: none;
}
.search-bar_tutorial_op::placeholder {
    color: #000;
}
.search-bar_tutorial_op:focus::placeholder {
    color: transparent;
}