.op_log_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    flex: 1;
    border: 2px solid #ccc;
    border-radius: 1rem;
    margin: 10px;
}
.op_log_container form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 25rem;
    padding: 1rem;
}
.op_log_container h1{
    font-size: 2rem;
    color: #333;
}
.op_field{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.op_field input{
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    outline: none;
    width: 100%;
    font-size: 1rem;
}
.op_field label{
    font-size: 1.2rem;
    color: #333;
}
.op_actions{
    display: flex;
    justify-content: center;
    align-items: center;
}
.op_actions input{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    outline: none;
    width: 10rem;
}


/* pagina OTP */

.otp_op_text{
    margin-bottom: 2rem;
}

.op_otp_to_login{
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.op_otp_to_login input{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    width: 10rem;
}