@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body, html {
    height: 100%;
}

.material-symbols-outlined {
    color: #fff;
    scale: 1.5;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.container_navbar_operator {
    display: flex;
    height: 100vh;
}

.navbar_operator {
    width: 70px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    margin: 10px 0 10px 10px;
    border-radius: 1rem;
}

.nav-button_operator {
    width: 50px;
    height: 50px;
    background-color: #555;
    border: none;
    border-radius: 50%;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-button_operator:hover {
    background-color: #777;
}

.maps_section_operator {
    flex: 1;
    border: 2px solid #ccc;
    border-radius: 1rem;
    margin: 10px;
}
.maps_section_operator iframe {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.reports_section_operator {
    width: 30%;
    max-width: 300px;
    background-color: #f1f1f1;
    padding: 20px;
    overflow-y: scroll;
    margin: 10px 10px 10px 0px;
    border-radius: 1rem;
}

.report_area_operator {
    background-color: #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}
