<h1>Ciao <%= @name %>,</h1>

<p>Il tuo profilo operatore è stato registrato con successo presso <%= @workplace %>, </p>
<p>Di seguito le credenziali per completare il processo di login:</p>
<h3>Email: <%= @email %></h3>
<h3>Password: <%= @pass %></h3>

<p>Si prega di cambiare il prima possibile la password predefinita con una più sicura.</p>

<p>Grazie,</p>
<p>Il team di First Aid</p>