<h1>Ciao <%= @supervisor.name %>,</h1>

<p>Il tuo codice OTP per l'accesso è:</p>
<h2><%= @otp %></h2>

<p>Inserisci questo codice per completare il processo di login.</p>

<p>Grazie,</p>
<p>Il team di First Aid</p>
