<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container_navbar_operator">
        <nav class="navbar_operator">
            <button class="nav-button_operator"></button>
            <button class="nav-button_operator"></button>
            <button class="nav-button_operator"></button>
            <button class="nav-button_operator"></button>
        </nav>

        <div class="maps_section">
            <!-- Area centrale vuota con bordo -->
        </div>

        <aside class="reports_section">
            <div class="report_area">Richiesta 1</div>
            <div class="report_area">Richiesta 2</div>
            <div class="report_area">Richiesta 3</div>
            <div class="report_area">Richiesta 4</div>
            <div class="report_area">Richiesta 5</div>
            <div class="report_area">Richiesta 6</div>
            <div class="report_area">Richiesta 7</div>
            <div class="report_area">Richiesta 8</div>
            <div class="report_area">Richiesta 9</div>
            <div class="report_area">Richiesta 10</div>
            
        </aside>
    </div>
</body>
</html>

