@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.body_user {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #4070F4;
    overflow: hidden;
}

/* Tema scuro */
.body_user.dark-theme {
    background-color: #1e1e1e;
    color: #f1f1f1;
}

/* Tema chiaro */
.body_user.light-theme {
    background-color: #4070F4;;
    color: #000000;
}


/* CSS per la mappa */
.map-container_user {
    width: calc(100% - 40px); /* Deduce il padding dai lati */
    max-width: 1000px; /* Imposta una larghezza massima se necessario */
    height: calc(100vh - 120px); /* Altezza completa della finestra meno padding e spazio sopra */
    padding: 20px; /* Padding interno per dare spazio attorno alla mappa */
    margin: 20px auto 0; /* Spazio sopra, centratura orizzontale, senza margine inferiore */
    box-sizing: border-box;
    border-radius: 10px;
    background: #FFF; /* Aggiungi uno sfondo bianco per evidenziare la mappa */
}

.map-container_user iframe {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}


/* Contenitore dei bottoni */
/* Contenitore dei bottoni */
.button-container_user {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px; /* Spazio intorno ai bottoni */
}

.button_user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: var(--bg-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 24px;
    text-align: center; /* Allinea il testo al centro */
    text-decoration: none; /* Rimuove la sottolineatura dai link */
}

.button_user:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Dimensioni dei bottoni */
.small-button_user {
    width: 80px;
    height: 80px;
    font-size: 40px;
}

.large-button_user {
    width: 100px;
    height: 100px;
    font-size: 60px; /* Dimensione icona più grande per il pulsante centrale */
}

/* Icone all'interno dei bottoni */
.button_user i {
    color: var(--icon-color); /* Colore dell'icona */
    margin: 0; /* Rimuove margini indesiderati */
    line-height: 1; /* Assicura che l'icona sia centrata verticalmente */
}


.button_user:active {
    transform: scale(0.95);
}

.nav_user{
    background: var(--bg-color);
    padding: 0 10px; /* Usa padding più piccolo per garantire adattabilità */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 100%; /* Rende la navbar larga quanto la viewport */
    box-sizing: border-box; /* Assicura che il padding non influisca sulla larghezza totale */
}
.nav_user-content{
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: space-around; /* Distribuisce gli elementi uniformemente */
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
    position: relative; /* Assicurati che il contenitore sia relativamente posizionato */
    
}


.link-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 120px;
    width: 95px;
    text-decoration: none;
    color: var(--link-color); /* Colore del testo dinamico */
    position: relative; /* Necessario per posizionare .link-text rispetto a questo contenitore */
}

.link-item.active {
    transform: translateY(-10px);
}

.link-icon {
    font-size: 38px;
    color: var(--icon-color); /* Colore dell'icona dinamico */
}

.link-item.active .link-icon {
    color: var(--icon-active-color); /* Colore icona attiva dinamico */
}

.link-text {
    position: absolute;
    bottom: 25px; /* Posiziona il testo sotto l'icona */
    font-size: 12px;
    font-weight: 500;
    color: var(--text-color); /* Colore del testo dinamico */
    opacity: 0; /* Invisibile di default */
    transform: translateY(5px); /* Per un effetto di movimento */
    white-space: nowrap; /* Evita che il testo vada a capo */
}

.link-item.active .link-text {
    opacity: 1; /* Rende visibile il testo */
    transform: translateY(0); /* Ripristina posizione */
}

/* Temi: Variabili per chiaro e scuro */
:root {
    --link-color: #000; /* Colore predefinito del link (tema chiaro) */
    --icon-color: #999; /* Colore predefinito dell'icona (tema chiaro) */
    --icon-active-color: #4070F4; /* Colore icona attiva (tema chiaro) */
    --text-color: #4070F4; /* Colore testo attivo (tema chiaro) */
    --bg-color: #FFF;
    --h3-tutorial:#333;
}

body.dark-theme {
    --link-color: #FFF; /* Colore del link (tema scuro) */
    --icon-color: #222; /* Colore dell'icona (tema scuro) */
    --icon-active-color: #000000; /* Colore icona attiva (tema scuro) */
    --text-color: #000000; /* Colore testo attivo (tema scuro) */
    --bg-color: #777;
    --h3-tutorial:#ccc;
}


/* Stile di base per indicator_user */
.indicator_user {
    position: absolute;
    top: -14px; /* Spostato verso il basso per apparire sopra le icone */
    height: 36px;
    width: 36px;
    background-color: var(--indicator-bg); /* Variabile per il colore di sfondo */
    border: 6px solid var(--indicator-border); /* Variabile per il colore del bordo */
    border-radius: 50%;
    transform: translateX(-50%);
}

.indicator_user::before,
.indicator_user::after {
    content: '';
    position: absolute;
    bottom: -8px;
    height: 24px;
    width: 19px;
    background-color: var(--indicator-bg); /* Variabile per il colore di sfondo */
}

.indicator_user::before {
    left: -22px;
    border-top-right-radius: 25px;
    box-shadow: 1px -13px var(--indicator-border); /* Variabile per il colore dell'ombra */
}

.indicator_user::after {
    right: -22px;
    border-top-left-radius: 25px;
    box-shadow: -1px -13px var(--indicator-border); /* Variabile per il colore dell'ombra */
}

/* Temi: Variabili per chiaro e scuro */
:root {
    --indicator-bg: #FFF; /* Sfondo per il tema chiaro */
    --indicator-border: #4070F4; /* Bordo/ombra per il tema chiaro */
}

body.dark-theme {
    --indicator-bg: #777; /* Sfondo per il tema scuro */
    --indicator-border: #1e1e1e; /* Bordo/ombra per il tema scuro */
}


.a_user {
    text-decoration: none; /* Rimuove la sottolineatura */
    color: inherit;
}


.slider-container_user {
    position: relative;
    width: 80%;
    max-width: 800px;
    height: calc(100vh - 40px); /* Height of viewport minus the margin */
    margin: 0 auto 100px auto; /* Margin at the bottom */
    margin-top: 30px;
    box-sizing: border-box;
}

/* Slider styling */
.slider_user {
    display: flex;
    overflow: hidden;
    height: 100%;
    border-radius: 20px; /* Rounded borders */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Each slide styling */
.slide_user {
    min-width: 100%;
    height: 100%; /* Make each slide occupy the full height of the container */
    transition: transform 0.5s ease-in-out;
    padding: 20px;
    background: var(--bg-color);
    box-sizing: border-box;
    border-radius: 20px; /* Rounded borders */
    text-align: center;
    display: flex;
    flex-direction: column;
}

.slide_user h2 {
    margin-top: 0;
    text-align: center;
}
.slide_user p {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 0.5rem;
    text-align: left;
}
.slide_user input{
    width: 60%;
    padding: 10px;
    font-size: 15px;
    margin: 10px auto;
    border-radius: 5px;
    border: 2px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    display: block;
}
.slide_user textarea {
    width: 100%;
    height: 70%;
    padding: 10px;
    font-size: 15px;
    margin: 10px auto;
    border-radius: 5px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    display: block;
    resize: none; /* Prevent user from resizing the textarea */
}
.send-button{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.button-container_TF {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.toggle-button {
    padding: 10px 10px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    width: 20vw;
    height: 3rem;
    margin-bottom: 0;
}

.toggle-button.active {
    background-color: var(--indicator-border);
    color: white;
}

.toggle-button.inactive {
    background-color: #ffffff; 
    color: black;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


.accordion_user {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: background-color 0.4s ease;
}

.panel_user {
    background-color: white;
    max-height: 0; /* Nasconde il pannello di default */
    overflow: hidden;
    transition: max-height 0.2s ease-out; /* Transizione per l'espansione */
    box-sizing: border-box; /* Assicura che padding e border siano inclusi nelle dimensioni totali */
}





















