@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.body_user {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #4070F4;
    overflow: hidden;
}


/* CSS per la mappa */
.map-container_user {
    width: calc(100% - 40px); /* Deduce il padding dai lati */
    max-width: 1000px; /* Imposta una larghezza massima se necessario */
    height: calc(100vh - 120px); /* Altezza completa della finestra meno padding e spazio sopra */
    padding: 20px; /* Padding interno per dare spazio attorno alla mappa */
    margin: 20px auto 0; /* Spazio sopra, centratura orizzontale, senza margine inferiore */
    box-sizing: border-box;
    border-radius: 10px;
    background: #FFF; /* Aggiungi uno sfondo bianco per evidenziare la mappa */
}

.map-container_user iframe {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}


/* Contenitore dei bottoni */
/* Contenitore dei bottoni */
.button-container_user {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px; /* Spazio intorno ai bottoni */
}

.button_user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #FFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 24px;
    text-align: center; /* Allinea il testo al centro */
    text-decoration: none; /* Rimuove la sottolineatura dai link */
}

.button_user:hover {
    background-color: #f0f0f0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Dimensioni dei bottoni */
.small-button_user {
    width: 80px;
    height: 80px;
    font-size: 40px;
}

.large-button_user {
    width: 100px;
    height: 100px;
    font-size: 60px; /* Dimensione icona più grande per il pulsante centrale */
}

/* Icone all'interno dei bottoni */
.button_user i {
    color: gray; /* Colore dell'icona */
    margin: 0; /* Rimuove margini indesiderati */
    line-height: 1; /* Assicura che l'icona sia centrata verticalmente */
}


.button_user:active {
    transform: scale(0.95);
}

.nav_user{
    background: #FFF;
    padding: 0 10px; /* Usa padding più piccolo per garantire adattabilità */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 100%; /* Rende la navbar larga quanto la viewport */
    box-sizing: border-box; /* Assicura che il padding non influisca sulla larghezza totale */
}
.nav_user-content{
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: space-around; /* Distribuisce gli elementi uniformemente */
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
    position: relative; /* Assicurati che il contenitore sia relativamente posizionato */
    
}
.link-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 120px;
    width: 95px;
    text-decoration: none;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.link-item.active{
    transform: translateY(-10px);
}
.link-icon{
    font-size: 38px;
    color: #999;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.link-item.active .link-icon{
    color: #4070F4;
}
.link-text{
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    color: #4070F4;
    opacity: 0;
    transform: translateY(32px);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.link-item.active .link-text{
    opacity: 1;
}


.indicator_user{
    position: absolute;
    top: -14px; /* Spostato verso il basso per apparire sopra le icone */
    height: 36px;
    width: 36px;
    background-color: #FFF;
    border: 6px solid #4070F4;
    border-radius: 50%;
    transform: translateX(-50%);
}
.indicator_user::before,
.indicator_user::after{
    content: '';
    position: absolute;
    bottom: -8px;
    height: 24px;
    width: 19px;
}
.indicator_user::before{
    left: -22px;
    background-color: #FFF;
    border-top-right-radius: 25px;
    box-shadow: 1px -13px #4070F4;
}
.indicator_user::after{
    right: -22px;
    background-color: #FFF;
    border-top-left-radius: 25px;
    box-shadow: -1px -13px #4070F4;
}


.a_user {
    text-decoration: none; /* Rimuove la sottolineatura */
    color: inherit;
}


.slider-container_user {
    position: relative;
    width: 80%;
    max-width: 800px;
    height: calc(100vh - 40px); /* Height of viewport minus the margin */
    margin: 0 auto 100px auto; /* Margin at the bottom */
    margin-top: 30px;
    box-sizing: border-box;
}

/* Slider styling */
.slider_user {
    display: flex;
    overflow: hidden;
    height: 100%;
    border-radius: 20px; /* Rounded borders */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Each slide styling */
.slide_user {
    min-width: 100%;
    height: 100%; /* Make each slide occupy the full height of the container */
    transition: transform 0.5s ease-in-out;
    padding: 20px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 20px; /* Rounded borders */
}

.slide_user h2 {
    margin-top: 0;
}


.prev {
    left: 10px;
}

.next {
    right: 10px;
}


.accordion_user {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: background-color 0.4s ease;
}

.panel_user {
    background-color: white;
    max-height: 0; /* Nasconde il pannello di default */
    overflow: hidden;
    transition: max-height 0.2s ease-out; /* Transizione per l'espansione */
    box-sizing: border-box; /* Assicura che padding e border siano inclusi nelle dimensioni totali */
}


/* Contenitore centrale per le impostazioni */
.settings-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra orizzontalmente */
    justify-content: center; /* Centra verticalmente */
    height: 100vh; /* Occupa tutta l'altezza della finestra */
    padding: 20px; /* Spaziatura interna */
    box-sizing: border-box; /* Include padding nel calcolo della larghezza */
}

.title-settings {
    text-align: center; /* Allinea il titolo al centro */
    color: white; /* Colore del testo */
    margin-bottom: 20px; /* Spazio sotto il titolo */
}

.settings_user-language,
.settings_user-theme {
    width: 100%; /* Occupa tutta la larghezza disponibile del contenitore */
    max-width: 300px; /* Dimensione massima per mantenere un aspetto ordinato */
    margin: 10px 0; /* Spaziatura verticale tra le sezioni */
}

.settings_user-language label,
.settings_user-theme label {
    display: block; /* Assicura che il label occupi tutta la larghezza disponibile */
    margin-bottom: 8px; /* Spazio sotto il label */
    font-size: 18px; /* Dimensione del font del label */
    color: white; /* Colore del testo del label */
}

.settings_user-language select,
.settings_user-theme select {
    width: 100%; /* Occupa tutta la larghezza del contenitore */
    padding: 10px; /* Spazio interno per il testo */
    font-size: 16px; /* Dimensione del font nel menu a discesa */
    border: 1px solid #ccc; /* Bordo del menu a discesa */
    border-radius: 4px; /* Angoli arrotondati */
    background-color: #fff; /* Colore di sfondo del menu a discesa */
    color: #333; /* Colore del testo nel menu a discesa */
    box-sizing: border-box; /* Include padding e bordo nel calcolo della larghezza */
}

.settings_user-language select:hover,
.settings_user-theme select:hover {
    border-color: #4070F4; /* Cambia il colore del bordo al passaggio del mouse */
}

.button-center {
    display: block;
    width: 50%; /* Larghezza del 50% della pagina */
    max-width: 300px; /* Larghezza massima per un aspetto ordinato */
    margin: 20px auto; /* Centra il bottone e aggiunge spaziatura */
    padding: 10px;
    font-size: 16px;
    color: #3056d3;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center; /* Allinea il testo al centro */
}

.button-center:hover {
    background-color: #3056d3; /* Cambia il colore di sfondo al passaggio del mouse */
}



.title-settings_user {
    text-align: center; /* Centra il testo orizzontalmente */
    color: white; /* Colore del testo bianco */
    font-size: 24px; /* Dimensione del testo (modifica se necessario) */
    margin-top: 20px;
    margin-bottom: 20px; /* Spazio sotto il titolo (modifica se necessario) */
}


.button-center_user {
    display: block; /* Imposta il pulsante come elemento a blocco per permettere il centraggio */
    width: 50%; /* Imposta la larghezza del pulsante al 50% della pagina */
    margin: 20px auto; /* Centra orizzontalmente e aggiunge margine sopra e sotto */
    padding: 10px; /* Padding per l'interno del pulsante */
    border: none; /* Rimuove il bordo predefinito */
    border-radius: 4px; /* Bordo arrotondato */
    background-color: #4070F4; /* Colore di sfondo del pulsante */
    color: white; /* Colore del testo del pulsante */
    font-size: 16px; /* Dimensione del testo */
    cursor: pointer; /* Mostra il cursore a mano quando si passa sopra */
    text-align: center; /* Allinea il testo al centro */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Aggiunge un'ombra sottile al pulsante */
    transition: background-color 0.3s; /* Transizione per il colore di sfondo */
}

.button-center_user:hover {
    background-color: #3050a0; /* Colore di sfondo al passaggio del mouse */
}

.user-info-container {
    padding: 20px;
}

.user-info-container h2 {
    margin-top: 0;
}

.user-info-container .info-item {
    margin-bottom: 10px;
}

.user-info-container .info-item label {
    font-weight: bold;
    margin-right: 5px;
}


.chart-container {
    padding: 20px;
    background: white;
    border: 1px solid #ddd;
    margin: 20px;
    border-radius: 8px;
}

canvas {
    max-width: 100%;
    height: 400px;
}

.body_user i.fas.fa-child {
    color: white;
    font-size: 80vw; /* Dimensiona l'icona in base alla larghezza della finestra */
    margin: auto;
}

.input-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vw;
    height: 100vh;
}

.input-icon {
    position: absolute;
    z-index: 1;
    font-size: 12vw;
    color: red;
    cursor: pointer;
}

.input-icon:hover {
    scale:1.2;
}
.bxs-heart{
    margin-top: -35vw;
    margin-left: -50vw;
}
.bx-pulse{
    margin-top:-10vw;
    margin-left: 10vw;
    
}
.bxs-droplet{
    margin-top:-35vw;
    margin-left:50vw;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.close-modal {
    cursor: pointer;
    font-size: 20px;
}

.modal-backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.modal button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



.history-box {
    margin-left: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 200px; /* Puoi regolare la larghezza */
    background-color: #f9f9f9;
}

.history-box h3 {
    margin-top: 0;
    font-size: 18px;
    color: #333;
}

#history-list {
    list-style-type: none;
    padding-left: 0;
    max-height: 200px; /* Altezza massima del box */
    overflow-y: auto;  /* Scroll quando il contenuto supera l'altezza massima */
}

#history-list li {
    margin: 5px 0;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
}


