<!-- app/views/reports/show.html.erb -->

<h1>Report Details</h1>

<p>
  <strong>Report Time:</strong>
  <%= @report.report_time %>
</p>

<p>
  <strong>Report Date:</strong>
  <%= @report.report_date %>
</p>

<p>
  <strong>Coordinates:</strong>
  <%= @report.coordinates %>
</p>

<p>
  <strong>User ID:</strong>
  <%= @report.user_id %>
</p>
